@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.row {
  height: 65px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  justify-content: flex-start;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.row:nth-child(1n) {
  background: white;
  min-height: 400px;
  color: white;
  font-weight: bold;
}

.row:nth-child(2n) {
  background: wheat;
  min-height: 600px;
}

.row:nth-child(3n) {
  background: whitesmoke;
  min-height: 500px;
}

.container {
  height: calc(100vh - 20px);
}

.loader-anim {
  animation: loaderAnim 3s forwards;
}

@keyframes loaderAnim {
  0% {
    width: 0%;
    transform: translateX(0);
  }
  50% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }
}

.letter-anim {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.7s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.letter-anim-two {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.9s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.letter-anim-three {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.8s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.circle-anim {
  animation: circleAnim 1s ease-in-out forwards;
 top: 0;
 left: 0;
    animation-delay: 2.4s;
}

@keyframes circleAnim {
  from {
    height: 100vh;
  }
  to {
   height: 0;
  }
}

