@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.row {
  height: 65px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  justify-content: flex-start;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.row:nth-child(1n) {
  background: white;
  min-height: 400px;
  color: white;
  font-weight: bold;
}

.row:nth-child(2n) {
  background: wheat;
  min-height: 600px;
}

.row:nth-child(3n) {
  background: whitesmoke;
  min-height: 500px;
}

.container {
  height: calc(100vh - 20px);
}

.loader-anim {
  animation: loaderAnim 3s forwards;
}

@keyframes loaderAnim {
  0% {
    width: 0%;
    transform: translateX(0);
  }
  50% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }
}

.letter-anim {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.7s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.letter-anim-two {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.9s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.letter-anim-three {
  animation: letterAnim 1s ease-in-out forwards;
  animation-delay: 1.8s;
}

@keyframes letterAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.circle-anim {
  animation: circleAnim 1s ease-in-out forwards;
 top: 0;
 left: 0;
    animation-delay: 2.4s;
}

@keyframes circleAnim {
  from {
    height: 100vh;
  }
  to {
   height: 0;
  }
}

.about-text::before {
  display: block;
  position: fixed;
  top: 0;
  /* left: 60%; */
  width: 100%;
  height: 160px;
  background: linear-gradient(to bottom,#000 30%,rgba(255,255,255,0));
  content: '';
  z-index: 4;
}

.about-text::after {
  display: block;
  position: fixed;
  top: auto;
    bottom: 0;
    transform: rotateZ(180deg);
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom,#000 30%,rgba(255,255,255,0));
  content: '';
  z-index: 4;
}

.about-cover::before {
  content: "";
  display: block;
  width: 40%;
  height: 120%;
  border-style: solid;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 9%;
  transform: rotate(-17deg);
}

.contact-btn::after {
  content: "→";
    display: block;
    margin-left: 0.3em;
    transform: rotate(-45deg);
    will-change: transform;
    transition: transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}

.contact-btn:hover::after {
  transform: rotate(0);
}


.disapear-anim {
  animation: disapear 0.5s forwards 10s;
}

@keyframes disapear {
  from {
    opacity: 1;
  } 
  to {
    opacity: 0;
  }
}